[Desktop Entry]
Version=@version
Type=Application
Name=XMind 8
Icon=/opt/xmind-8/@icon
Exec=/opt/xmind-8/@exe
Comment=Mind Mapping Software
Categories=Office
Terminal=false
MimeType=application/xmind
