[Desktop Entry]
Version=8.1
Type=Application
Name=XMind 8
Icon=/opt/xmind-8/xmind-256.png
Exec=/opt/xmind-8/start-xmind.sh
Comment=Mind Mapping Software
Categories=Office
Terminal=false
