[Desktop Entry]
Version=8
Type=Application
Name=XMind 8
Icon=/opt/xmind-8/xmind-logo.png
Exec=/opt/xmind-8/start-xmind.sh
Comment=Mind Mapping Software
Categories=Office
Terminal=false
